{% extends "layouts/_base.html" %}

{% block page_title %}{{ _('Scoring system') }} | Judge{% endblock %}

{% block css %}
    {{ super() }}

{% endblock %}

{% block body %}
    <div class="container">
        <br>
        <!-- messages -->
        {% include "macros/_messages.html" %}
        <br>
        <!-- errors -->
        {% include "macros/_errors.html" %}
    </div>

    <section>
        <div class="container header-section">
            <div class="row">
                <div class="col-sm-12">
                    <h1>{{ _('Scoring system') }}</h1>
                    <p>New smart P2P scoring system</p>
                </div>
            </div>
            <hr>
            <div class="row">
                <div class="col-sm-4">
                   <p>hej</p>
                </div>
                <div class="col-sm-4">
                    <p>med</p>
                </div>
                <div class="col-sm-4">
                    <p>dig</p>
                </div>
            </div>
        </div>
    </section>
{% endblock %}


{% block js %}
    {{ super() }}
{% endblock %}