{% extends "layouts/_base.html" %}

{% block page_title %}Judge | Tables {% endblock %}

{% block css %}
    {{ super() }}
{% endblock %}

{% block body %}
    <section>
        <div class="container header-section">
            <!--<div class="row">
                <div class="col-sm-12">
                    <h1>{{ _('Judge | Tables') }}</h1>
                </div>
            </div>
            <hr>-->
            <div class="row">
                <div class="col-sm-12">
                    {% if tables | length == 0 %}
                        <p>No tables are available</p>
                    {% else %}
                        <div class="panel-group">
                            {% for table in tables %}
                                <div class="panel panel-default col-xs-3">
                                    <div class="panel-body">
                                        <h4><a href="{{ url_for('judge.table', table_id=table[0]) }}">Table {{ table[0] }}</a></h4>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </section>
{% endblock %}

{% block js %}
    {{ super() }}
{% endblock %}