{% extends "layouts/_base.html" %}

{% block page_title %}Judge | Table {{ table_id }} {% endblock %}

{% block css %}
    {{ super() }}
{% endblock %}

{% block body %}
    <section>
        <div class="container header-section">
            <div class="row">
                <div class="col-sm-12">
                    <h1>{{ _('Table') }} {{ table_id }}</h1>
                    <p>Back to <a href="{{ url_for('judge.tables') }}">tables</a></p>
                </div>
            </div>
            <hr>
            <div class="row">
                <div class="col-sm-6">
                    <h3>Schedule</h3>
                    {% if schedules | length == 0 %}
                    <p>This table have no scheduled matches</p>
                    {% else %}
                        <table class="table">
                            <thead><tr>
                                <th class="col-header col-xs-3">{{ _('Start') }}</th>
                                <th class="col-header">{{ _('Team 1') }}</th>
                                {% if schedules[0].team_2 %}
                                    <th class="col-header">{{ _('Team 2') }}</th>
                                    {% set two_teams = True %}
                                {% else %}
                                    {% set two_teams = False %}
                                {% endif %}
                                <th class="col-header">{{ _('Completed') }}</th>
                            </tr></thead>
                            <tbody>
                                {% for schedule in schedules %}
                                <tr {% if schedule.start_date < current_time %} class="bg-danger"{% else %} class="bg-info"{% endif %}>
                                    <td><time class="from-now" data-datetime="{{ schedule.start_date }}">{{ schedule.start_date }}</time></td>
                                    <td><a href="{{ url_for('spectator.team', team_id=schedule.team_1_id) }}">{{ schedule.team_1.name }}</a></td>
                                    {% if two_teams %}
                                        <td><a href="{{ url_for('spectator.team', team_id=schedule.team_2_id) }}">{{ schedule.team_2.name }}</a></td>
                                    {% endif %}
                                    {% if schedule.completed %}
                                        <td><i class="fa fa-check"></i></td>
                                    {% else %}
                                        <td><a href="{{ url_for('judge.match', schedule_id=schedule.id) }}">Start match</a></td>
                                    {% endif %}
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    {% endif %}
                </div>
                <div class="col-sm-6">
                    <h3>Scores</h3>
                    {% if scores | length == 0 %}
                    <p>This table have no recorded scores</p>
                    {% else %}
                        <table class="table">
                            <thead><tr>
                                <th class="col-header">{{ _('Start') }}</th>
                                <th class="col-header">{{ _('Team 1') }}</th>
                                <th class="col-header">{{ _('Score') }}</th>
                                {% if scores[0].team_2 %}
                                    <th class="col-header">{{ _('Team 2') }}</th>
                                    <th class="col-header">{{ _('Score') }}</th>
                                    {% set two_teams = True %}
                                {% else %}
                                    {% set two_teams = False %}
                                {% endif %}
                                <th class="col-header">{{ _('Edit') }}</th>
                            </tr></thead>
                            <tbody>
                                {% for score in scores %}
                                <tr {% if score.start_date > current_time_offset %} class="bg-success"{% else %} class=""{% endif %}>
                                    <td><time class="from-now" data-datetime="{{ score.start_date }}">{{ score.start_date }}</time></td>
                                    <td><a href="{{ url_for('spectator.team', team_id=score.team_1_id) }}">{{ score.team_1.name }}</a></td>
                                    <td>{{ score.score_1 }}</td>
                                    {% if two_teams %}
                                        <td><a href="{{ url_for('spectator.team', team_id=score.team_2_id) }}">{{ score.team_2.name }}</a></td>
                                        <td>{{ score.score_2 }}</td>
                                    {% endif %}
                                    <td><i class="fa fa-pencil"></i></td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    {% endif %}
                </div>
            </div>
        </div>
    </section>
{% endblock %}

{% block js %}
    {{ super() }}
{% endblock %}