{% extends "layouts/_base.html" %}

{% block page_title %}{{ _('Scoring system')}} | About{% endblock %}

{% block css %}
    {{ super() }}
{% endblock %}

{% block body %}
    <section>
        <div class="container header-section">
            <div class="row">
                <div class="col-sm-12">
                    <h1>{{ _('Scoring system') }} - About</h1>
                    <p>Here is a little story about the system</p>
                </div>
            </div>
            <hr>
            <div class="row">
                <div class="col-sm-12">
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean et sodales felis, vel imperdiet massa. Donec eu feugiat metus. Phasellus varius ligula at tellus mattis, et semper lectus ultricies. Curabitur elementum, neque eu euismod tincidunt, quam elit lacinia nisl, eu suscipit libero urna ut orci. Cras vulputate, nibh vitae porttitor pharetra, eros turpis varius augue, non vulputate mi sapien sed lectus. In et odio venenatis, sodales erat eget, mollis libero. Nullam ac dui et dui posuere porttitor at semper nibh. Mauris erat orci, fringilla nec tincidunt non, auctor maximus enim.
                    </p>
                    <p>
                        Quisque varius ex ut ullamcorper vulputate. Integer a pulvinar diam. Duis dictum velit eget massa sollicitudin, sed accumsan enim faucibus. Maecenas interdum non tellus in accumsan. Praesent gravida bibendum eros, ut consequat elit gravida eu. Integer eu est sit amet orci bibendum accumsan eu sed justo. Etiam ullamcorper vulputate ligula, at vestibulum orci. Quisque et odio mattis nisi pellentesque imperdiet. Maecenas a odio vitae nulla blandit efficitur. Morbi rutrum velit sit amet nisl blandit rutrum.
                    </p>
                    <p>
                        Mauris nec euismod tortor. Nunc id erat pretium, finibus ex non, interdum libero. Pellentesque ultricies turpis in cursus fringilla. Donec imperdiet eros varius vulputate rhoncus. Integer pretium scelerisque sagittis. Proin sed mollis tellus, eu pulvinar velit. Fusce eu sem facilisis, condimentum turpis eu, mollis elit. Donec euismod lobortis accumsan. Interdum et malesuada fames ac ante ipsum primis in faucibus. Aenean ornare imperdiet nisl, quis pharetra eros euismod sed. Maecenas cursus neque nibh, in aliquam ligula eleifend ut.
                    </p>
                </div>
            </div>
        </div>
    </section>
{% endblock %}


{% block js %}
    {{ super() }}
{% endblock %}