{% extends "layouts/_base.html" %}

{% if config['SCORING_APP_TYPE'] == 'JUDGE' %}

{% else %}

{% endif %}


{% block page_title %}{{ _('Team') }} {{ team.name }} {% endblock %}

{% block css %}
    {{ super() }}
{% endblock %}

{% block body %}
    <section>
        <div class="container header-section">
            <div class="row">
                <div class="col-sm-12">
                    <h1>{{ _('Team') }} {{ team.name }}</h1>
                    <p>Back to <a href="{{ url_for('spectator.teams') }}">teams</a></p>
                </div>
            </div>
            <hr>
            <div class="row">
                <div class="col-sm-6">
                    <h3>Program</h3>
                    {% if schedules | length == 0 %}
                    <p>This team have no schedules matches</p>
                    {% else %}
                        <table class="table">
                            <thead><tr>
                                <th class="col-header col-xs-3">{{ _('Start') }}</th>
                                <th class="col-header col-xs-3">{{ _('Table') }}</th>
                                <th class="col-header col-xs-3">{{ _('Completed') }}</th>
                            </tr></thead>
                            <tbody>
                                {% for schedule in schedules %}
                                    <tr {% if schedule.start_date < current_time %} class="bg-danger"{% else %} class="bg-info"{% endif %}>
                                        <td><time class="from-now" data-datetime="{{ schedule.start_date }}">{{ schedule.start_date }}</time></td>
                                        <td><a href="{{ url_for('spectator.tables', table_id=schedule.table) }}">{{ schedule.table }}</a></td>
                                        <td>{% if schedule.completed %}<i class="fa fa-check-square-o"></i>{% else %}<i class="fa fa-square-o"></i>{% endif %} </td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    {% endif %}
                </div>
                <div class="col-sm-6">
                    <h3>Scores</h3>
                    {% if scores | length == 0 %}
                    <p>This team have no recorded scores</p>
                    {% else %}
                        <table class="table">
                            <thead><tr>
                                <th class="col-header col-xs-3">{{ _('Start') }}</th>
                                <th class="col-header col-xs-3">{{ _('Table') }}</th>
                                <th class="col-header col-xs-3">{{ _('Score') }}</th>
                            </tr></thead>
                            <tbody>
                                {% for score in scores %}
                                    <tr {% if score.start_date > current_time_offset %} class="bg-success"{% else %} class=""{% endif %}>
                                        <td><time class="from-now" data-datetime="{{ score.start_date }}">{{ score.start_date }}</time></td>
                                        <td><a href="{{ url_for('spectator.tables', table_id=score.table) }}">{{ score.table }}</a></td>
                                        <td>{{ score.score_1 }}</td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    {% endif %}
                </div>
            </div>
        </div>
    </section>
{% endblock %}

{% block js %}
    {{ super() }}
{% endblock %}