<footer class="triangle">
    <div class="container">
        {% block footer %}{% endblock %}
        <div class="row">
            <div class="col-sm-12">
                {% if config['SCORING_APP_TYPE'] == 'JUDGE' %}
                    <p>TODO: make a list of available peers</p>
                {% endif %}
            </div>
        </div>

        <div class="row">
            <div class="col-sm-12">
                <hr>
            </div>
        </div>
        <div class="row info-row">
            <div class="col-sm-12">
                <p>
                    Scoring &copy; {{ current_year() }} <span class="hidden-xs">|</span><br class="visible-xs">
                    <a href="">{{ _('About') }}</a> <span class="hidden-xs">|</span><br class="visible-xs">
                    <a href="">{{ _('FAQ') }}</a> <span class="hidden-xs">|</span><br class="visible-xs">
                    <a href="mailto:contact@scoring.com">contact@scoring.com</a>
                </p>
            </div>
        </div>
    </div>
</footer>