@font-face {
    font-family: AU_Passata;
    src: url(../fonts/au/AUPassata_Rg.ttf);
    font-weight: normal;
}

@font-face {
    font-family: AU_Passata_bold;
    src: url(../fonts/au/AUPassata_bold.ttf);
    font-weight: bold;
}

@font-face {
    font-family: AU_Passata_light;
    src: url(../fonts/au/AUPassata_Light.ttf);
}

@font-face {
    font-family: AU_Peto;
    src: url(../fonts/au/AU_Peto.ttf);
}

html {
    position: relative;
    min-height: 100%;
}

body {
    padding-bottom: 20px;
    margin-bottom: 60px;
    padding-top: 70px; /* used to be 70*/

    font-family: AU_Passata, 'opensans-regular', sans-serif;
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  padding-top: 10px;
  border-top: 1px solid black;

  height: 60px;
}

h1 {
    margin: 50px 0;
    text-transform: uppercase;
}

.navbar {
    margin-bottom: 0 !important;
}

.navbar-brand {
    font-family: AU_Peto;
}

/* Bootstrap overrides
-------------------------------------------------- */

label {
  font-weight: 400;
}

.col-header {
  height: 26px;
}

/* Admin dashboard
-------------------------------------------------- */
#bulk_actions {
  display: none;
  padding-bottom: 8px;
}

#scope {
  margin-bottom: 0;
  width: 160px;
  height: 29px;
  font-weight: 400;
  font-size: 12px;
}

.sort:after {
  content: '\f0dc';
  font-family: FontAwesome;
  margin-left: 6px;
  color: #BBB;
}

.asc:after {
  content: '\f0dd';
  font-family: FontAwesome;
  margin-left: 6px;
  color: #444;
}

.desc:after {
  content: '\f0de';
  font-family: FontAwesome;
  margin-left: 6px;
  color: #444;
}

#duration-in-months {
  display: none;
}

.rd-date table td {
  padding: 5px;
}
